img {
  width: 2rem;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

h5 {
  text-align: center;
  margin-top: 2px;
}

p {
  margin: 0px;
  text-align: center;
}

hr {
  margin-top: 0px;
}

.mapContainer {
  position: absolute;
  top: 12%;
  right: 30%;
  left: 30%;
  bottom: 10px;
  border-radius: 10px;
}
